body{
    background-color: crimson;
}

.clock{
    position: absolute;;
    font-size: 200px;
    font-family: "Droid Sans Mono Dotted", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.text_button{
    color: black;
    background-color: black;
}

.background_button{
    color: black;
    background-color: black;
}